.reason {
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Toptitle {
  font-size: 35px;
  line-height: 40px;
  color: #051b35;
}
.reason .image-container img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.section {
  display: flex;
}
