.gallery {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: top 50px;
}

.gallery-heading {
  align-items: center;
  margin-left: 600px;
  width: 100%;
  height: 30vh;
  padding: top 10px;
}
.cara {
  margin-right: 50px;
}
