.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  background: green;
}

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner img {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
